/* src/styles/CartTodoList.css */
*{
  background-color: black;
}

/* General container styles */
div {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  .outerDiv {
    border: 2px solid #fff; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px auto; 
    width: 90%; 
  }
  

  h1 {
    font-size: 24px;
    color: white;
    display: inline;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
  }
  
  /* Styles for buttons */
  .add-button {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: green;
  }
  
  .delete-button {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
  }
  
  .delete-button:hover {
    background-color: rgb(34, 34, 196);
  }
  
  .clear-button {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
  }
  
  .clear-button:hover {
    background-color: red;
  }

  .update-button{
    background-color: palevioletred ;
    color: white;
    border-radius: 5px;
  }

  .update-button:hover {
    background-color: rgb(186, 85, 102);
  }
  
  /* Task list styling */
  .task-list {
    list-style: none;
    width: max-content; 
}
  
  .task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    margin: 4px 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-out;
    min-width: none;
  }
  .task-list li:hover {
    transform: scale(1.02);
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    max-width: 200px;
    color: white;
  }
  
  /* CartNav absolute positioning */
  .cartDiv {
    display: inline;
    margin: 5px;
    color: white;
  }

  .btnSpan{
    margin: 10px;
    background-color: #fff;
  }
  .secClass{
    position: relative;
  }