/* src/styles/CartTodoList.css */
*{
  background-color: rgb(46, 43, 43);
}

/* General container styles */
div {
    font-family: Arial, sans-serif;
    font-size: 20px;
  }

  .outerDiv {
    border: 2px solid #fff; 
    padding: 20px ; 
    border-radius: 10px; 
    margin: 20px ; 
    width: 90%; 
  }
  
  h1 {
    font-size: 24px;
    color: white;
    display: inline;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 20px;
  }
  
  /* Styles for buttons */
  .add-button {
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
  }
  
  .add-button:hover {
    background-color: green;
  }
  
  .delete-button {
    background-color: #2196f3;
    color: white;
    border-radius: 5px;
  }
  
  .delete-button:hover {
    background-color: rgb(34, 34, 196);
  }
  
  .clear-button {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
  }
  
  .clear-button:hover {
    background-color: red;
  }

  .update-button{
    background-color: palevioletred ;
    color: white;
    border-radius: 5px;
  }

  .update-button:hover {
    background-color: rgb(173, 44, 66);
  }

  .task-list li:hover {
    transform: scale(1.02);
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid white;
    width: 100%;
    max-width: 200px;
    color: white;
  }
  
  /* CartNav absolute positioning */
  .cartDiv {
    display: inline;
    margin: 5px;
    color: white;
  }

  .btnSpan{
    margin: 10px;
    background-color: #fff;
  }
  .secClass{
    position: relative;
  }

  select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    margin: 10px;
  }
  
  option {
    padding: 5px;
    background-color: white;
  }  
  
  select:focus, select:hover {
    border-color: #007BFF;
  }

.task-list {
  list-style: none;
  padding: 0;
  max-width: fit-content; 
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-list li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-out;
  width: auto;
}

/* Hover effect for task items */
.task-list li:hover {
  transform: scale(1.02);
}

/* For smaller screens */
@media (max-width: 768px) {
  .task-list li {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the left */
  }

  .task-list select,
  .task-list button {
    width: 100%; /* Full width for select and buttons */
    margin: 5px 0;
  }
  .task-list{
    max-width: 800px; 
  }
}
